.ivg-guest-message {
    white-space: pre-wrap;
    margin-bottom: 10px;
    background: #eee;
    padding: 5px;
}

.ivg-button-copy {
    position: relative;
}

.ivg-button-copy .tooltip {
    position: absolute;
    background: #333;
    font-size: 10px;
    padding: 2px 5px;
    color: #eee;
    border-radius: 3px;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, 4px);
    display: none;
}

.ivg-button-copy .tooltip::before {
    content: "";
    position: absolute;
    border: 4px solid;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent #333 transparent;
}

.ivg-button-copy.copied .tooltip {
    display: block;
}